In [29]:
import pandas as pd
import plotly.express as px

In [3]:
## Read in ultra rankings table
ultra_rankings = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-10-26/ultra_rankings.csv")

In [4]:
#Read in race table
race = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-10-26/race.csv")

In [5]:
#Check out ultra rankings table
ultra_rankings.head(5)

,race_year_id,rank,runner,time,age,gender,nationality,time_in_seconds
0,68140,1.0,VERHEUL Jasper,26H 35M 25S,30,M,GBR,95725.0
1,68140,2.0,MOULDING JON,27H 0M 29S,43,M,GBR,97229.0
2,68140,3.0,RICHARDSON Phill,28H 49M 7S,38,M,GBR,103747.0
3,68140,4.0,DYSON Fiona,30H 53M 37S,55,W,GBR,111217.0
4,68140,5.0,FRONTERAS Karen,32H 46M 21S,48,W,GBR,117981.0

In [6]:
#Check out race table
race.head(5)

,race_year_id,event,race,city,country,date,start_time,participation,distance,elevation_gain,elevation_loss,aid_stations,participants
0,68140,Peak District Ultras,Millstone 100,Castleton,United Kingdom,2021-09-03,19:00:00,solo,166.9,4520,-4520,10,150
1,72496,UTMB®,UTMB®,Chamonix,France,2021-08-27,17:00:00,Solo,170.7,9930,-9930,11,2300
2,69855,Grand Raid des Pyrénées,Ultra Tour 160,vielle-Aure,France,2021-08-20,05:00:00,solo,167.0,9980,-9980,13,600
3,67856,Persenk Ultra,PERSENK ULTRA,Asenovgrad,Bulgaria,2021-08-20,18:00:00,solo,164.0,7490,-7500,13,150
4,70469,Runfire Salt Lake Ultra,100 Mile,ulukisla,Turkey,2021-08-20,18:00:00,solo,159.9,100,-100,12,0

In [7]:
#Inner join the two tables on race year id
results = pd.merge(ultra_rankings, race, how = 'inner', on = 'race_year_id')

In [8]:
#Check out joined tables
results.head(5)

,race_year_id,rank,runner,time,age,gender,nationality,time_in_seconds,event,race,city,country,date,start_time,participation,distance,elevation_gain,elevation_loss,aid_stations,participants
0,68140,1.0,VERHEUL Jasper,26H 35M 25S,30,M,GBR,95725.0,Peak District Ultras,Millstone 100,Castleton,United Kingdom,2021-09-03,19:00:00,solo,166.9,4520,-4520,10,150
1,68140,2.0,MOULDING JON,27H 0M 29S,43,M,GBR,97229.0,Peak District Ultras,Millstone 100,Castleton,United Kingdom,2021-09-03,19:00:00,solo,166.9,4520,-4520,10,150
2,68140,3.0,RICHARDSON Phill,28H 49M 7S,38,M,GBR,103747.0,Peak District Ultras,Millstone 100,Castleton,United Kingdom,2021-09-03,19:00:00,solo,166.9,4520,-4520,10,150
3,68140,4.0,DYSON Fiona,30H 53M 37S,55,W,GBR,111217.0,Peak District Ultras,Millstone 100,Castleton,United Kingdom,2021-09-03,19:00:00,solo,166.9,4520,-4520,10,150
4,68140,5.0,FRONTERAS Karen,32H 46M 21S,48,W,GBR,117981.0,Peak District Ultras,Millstone 100,Castleton,United Kingdom,2021-09-03,19:00:00,solo,166.9,4520,-4520,10,150

In [10]:
#Breakdown finishers by gender
results['gender'].value_counts()

M    116716
W     21057
Name: gender, dtype: int64

In [17]:
#See which participants have a race distance of 0 miles
distance = results['distance'] == 0.0
results[distance]

,race_year_id,rank,runner,time,age,gender,nationality,time_in_seconds,event,race,city,country,date,start_time,participation,distance,elevation_gain,elevation_loss,aid_stations,participants
6902,64771,1.0,Kepes Ben,19H 9M 8S,50,M,NZL,68948.0,The Old Forest Hanmer 100,100mile,HanmerSprings,New Zealand,2021-05-14,10:00:00,solo,0.0,0,0,16,0
6903,64771,2.0,DOOHAN Mark,19H 16M 35S,33,M,NZL,69395.0,The Old Forest Hanmer 100,100mile,HanmerSprings,New Zealand,2021-05-14,10:00:00,solo,0.0,0,0,16,0
6904,64771,3.0,WARREN Alex,20H 54M 13S,29,M,NZL,75253.0,The Old Forest Hanmer 100,100mile,HanmerSprings,New Zealand,2021-05-14,10:00:00,solo,0.0,0,0,16,0
6905,64771,4.0,ARNST Eleanor,21H 18M 35S,36,W,NZL,76715.0,The Old Forest Hanmer 100,100mile,HanmerSprings,New Zealand,2021-05-14,10:00:00,solo,0.0,0,0,16,0
6906,64771,5.0,BEATSON Steve,22H 12M 58S,46,M,NZL,79978.0,The Old Forest Hanmer 100,100mile,HanmerSprings,New Zealand,2021-05-14,10:00:00,solo,0.0,0,0,16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133509,2917,359.0,FISHER Jared,29H 52M 26S,59,M,USA,107546.0,Leadville Trail 100 Run,100 MILE TRAIL RUN,Leadville,United States,2012-08-18,00:00:00,solo,0.0,0,0,0,0
133510,2917,360.0,ANN FUESS Kim,29H 53M 33S,0,W,USA,107613.0,Leadville Trail 100 Run,100 MILE TRAIL RUN,Leadville,United States,2012-08-18,00:00:00,solo,0.0,0,0,0,0
133511,2917,361.0,LEATHERS Kevin,30H 4M 57S,56,M,USA,108297.0,Leadville Trail 100 Run,100 MILE TRAIL RUN,Leadville,United States,2012-08-18,00:00:00,solo,0.0,0,0,0,0
133512,2917,362.0,TOMAS Brian,30H 20M 12S,62,M,USA,109212.0,Leadville Trail 100 Run,100 MILE TRAIL RUN,Leadville,United States,2012-08-18,00:00:00,solo,0.0,0,0,0,0
133513,2917,363.0,FARRIS Annie,30H 52M 30S,53,W,USA,111150.0,Leadville Trail 100 Run,100 MILE TRAIL RUN,Leadville,United States,2012-08-18,00:00:00,solo,0.0,0,0,0,0

In [21]:
#Get a count for how many participants have a race distance of 0 miles
results[distance].shape

(7666, 20)

In [31]:
#See what races frequently have a race distance of 0 miles
results[distance].groupby('event').size()

event
Andorra Ultra Trail Vallnord                      797
Antelope Island Buffalo Run                       151
CASCADE CREST 100 MILE ENDURANCE RUN              128
CHIMERA 100                                         7
Cactus Rose                                        21
Chiemgauer 100                                     50
Croom zoom                                         26
Cruel Jewel                                        21
GHOST TRAIN RAIL TRAIL RACE 100                    59
Grand Mesa Ultras                                  19
Grand Raid des Pyrénées                           240
HEADLANDS HUNDRED                                  74
Habanero Hundread                                   7
IDAHO MOUNTAIN TRAIL ULTRA FESTIVAL               576
Jarakabande Eco Ultra                              15
LEADVILLE TRAIL 100 RUN                          1297
Leadville Trail 100 Run                           860
Lean Horse 100                                     58
Long haul                                         144
Louceni                                            36
Loup Garou 100 Mile Trail Run                     107
Mohican Trail                                      76
OLD DOMINION 100 MILE                              60
Oil Creek 100 Trail Runs                           98
Ozark Trail 100 Mile Endurance Run                130
PLAIN 100 MILE ENDURANCE RUN                       21
Palisades Ultra Trail Series                       80
Pine creek challenge                              194
RIO DEL LAGO 100                                 1087
Robin Hood 100                                    113
Run Lovit                                          82
The Georgia jewel                                  62
The Great Southern Alps Miler                       4
The Old Forest Hanmer 100                          23
Tunnel Hill  100 & 50 mile runs                   462
UMSTEAD 100                                       268
Ultra Tuffman Beach Championship - Goa              2
Ultra Tuffman Desert Championship - Jaisalmer       3
WASATCH FRONT 100 MILE ENDURANCE RUN              208
dtype: int64

In [33]:
#I realized that some of the events might be categorized as two different events, despite being the same one, because of being entered as all caps or lower case, so I converted the events column to all upper case
results['event'] = results['event'].str.upper()
results[distance].groupby('event').size()

event
ANDORRA ULTRA TRAIL VALLNORD                      797
ANTELOPE ISLAND BUFFALO RUN                       151
CACTUS ROSE                                        21
CASCADE CREST 100 MILE ENDURANCE RUN              128
CHIEMGAUER 100                                     50
CHIMERA 100                                         7
CROOM ZOOM                                         26
CRUEL JEWEL                                        21
GHOST TRAIN RAIL TRAIL RACE 100                    59
GRAND MESA ULTRAS                                  19
GRAND RAID DES PYRÉNÉES                           240
HABANERO HUNDREAD                                   7
HEADLANDS HUNDRED                                  74
IDAHO MOUNTAIN TRAIL ULTRA FESTIVAL               576
JARAKABANDE ECO ULTRA                              15
LEADVILLE TRAIL 100 RUN                          2157
LEAN HORSE 100                                     58
LONG HAUL                                         144
LOUCENI                                            36
LOUP GAROU 100 MILE TRAIL RUN                     107
MOHICAN TRAIL                                      76
OIL CREEK 100 TRAIL RUNS                           98
OLD DOMINION 100 MILE                              60
OZARK TRAIL 100 MILE ENDURANCE RUN                130
PALISADES ULTRA TRAIL SERIES                       80
PINE CREEK CHALLENGE                              194
PLAIN 100 MILE ENDURANCE RUN                       21
RIO DEL LAGO 100                                 1087
ROBIN HOOD 100                                    113
RUN LOVIT                                          82
THE GEORGIA JEWEL                                  62
THE GREAT SOUTHERN ALPS MILER                       4
THE OLD FOREST HANMER 100                          23
TUNNEL HILL  100 & 50 MILE RUNS                   462
ULTRA TUFFMAN BEACH CHAMPIONSHIP - GOA              2
ULTRA TUFFMAN DESERT CHAMPIONSHIP - JAISALMER       3
UMSTEAD 100                                       268
WASATCH FRONT 100 MILE ENDURANCE RUN              208
dtype: int64

In [28]:
#Update Leadville manually 
results.loc[results['city'] == 'Leadville', 'distance'] = 100.0
distance2 = results['distance'] == 0.0
results[distance2].shape

(5509, 20)

(7666, 20)